<%= form_for(@card, html:{class:"form-horizontal col-md-8 col-md-offset-2"}) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="card_date" class="col-sm-3 control-label">日付</label>
    <div class="col-md-6">
    <%= f.text_field :date, class: "form-controll date-picker" %>
    </div>
  </div>

  <div class="form-group">
    <label for="card_start" class="col-sm-3 control-label">出勤時刻</label>
    <div class="col-md-6">
    <%= f.time_select :start, class: "form-controll" %>
    </div>
  </div>
  
  <div class="form-group">
    <label for="card_end" class="col-sm-3 control-label">退勤時刻</label>
    <div class="col-md-6">
    <%= f.time_select :end, class: "form-controll" %>
    </div>
  </div>

  <div class="form-group">
    <label for="card_reststart" class="col-sm-3 control-label">休憩開始時刻</label>
    <div class="col-md-6">
    <%= f.time_select :reststart, class: "form-controll" %>
    </div>
  </div>
  
  <div class="form-group">
    <label for="card_restend" class="col-sm-3 control-label">休憩終了時刻</label>
    <div class="col-md-6">
    <%= f.time_select :restend, class: "form-controll" %>
    </div>
  </div>

  <div class="form-group">
    <label for="card_cost" class="col-sm-3 control-label">交通費</label>
    <div class="col-md-6">
    <%= text_field_tag :cost, '0', class: "form-controll" %>
    </div>
  </div>

  <div class="form-group">
    <label for="card_to" class="col-sm-3 control-label">TO:</label>
    <div class="col-md-6">
    <%= text_field_tag :to, '', class: "form-controll" %>
    </div>
  </div>

  <div class="form-group">
    <label for="card_cc" class="col-sm-3 control-label">CC:</label>
    <div class="col-md-6">
    <%= text_field_tag :cc, '', class: "form-controll" %>
    </div>
  </div>

  <div class="actions">
    <div class="col-md-2 col-md-offset-3">
    <%= f.submit %>
    </div>
  </div>
<% end %>
